*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.container2{
    border: 1px solid black;
}

.head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img{
    width: 80px;
    height: 80px;
}

.margin-left{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.head2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    letter-spacing: 15px;
}
.head2 h2{
    text-transform: uppercase;
    
}

.red-text{
    color: red;
}

span {
    text-transform: uppercase;
}

.sgi{
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    text-transform: uppercase;
    background-color: skyblue;
}

.sgitable table{
    width: 100%;
}

.stretch{
    letter-spacing: 20px;
    padding-left: 32.5%;
    font-weight: bold;
    border-top: 1px solid black;
    background-color: skyblue;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.tr1{
    background-color: skyblue;
    border-bottom: 1px solid black;
}

.td-end{
    text-align: right;
    padding-right: 10px;
}
.tr-border-bottom{
    border-bottom: 2px solid black;
}

.container3{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.assessed-fees{
    border: 1px solid black;
    width: 50%;
}

.tr-border-top{
    border-top: 1px solid black;
    background-color: skyblue;
}

.assessed-fees h4{
    text-align: center;
    border-bottom: 1px solid black;
    background-color: skyblue;
    letter-spacing: 8px;
}

.margin-top{
    margin-top: 20px;
    margin-left: 10px;
}
.top-bottom{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bottom{
    border-bottom: 1px solid black;
}

.sop h4{
    border-top: 1px solid black;
    border-bottom: none;
}
.sop td{
    border: 1px solid black;
}

.rules-on-refund{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules-on-refund h3{
    margin-bottom: 20px;
}
.rof{
    margin-top: 30px;
}
